.sec {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 4rem;
    align-items: center;
  
    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      margin: 14px;
    }
  
    .secimg {
      margin-left: 5rem;
      width: 40%;
  
      @media (max-width: 768px) {
        margin: 10px;
        width: 100%;
        margin-bottom: 2rem;
      }
    }
  
    .sectext {
      width: 57%;
  
      @media (max-width: 768px) {
        width: 100%;
        margin-top: 1rem;
        align-items: center;
        text-align: center;
      }
    }
  }

  .bg {
    background-size: cover;
    height: auto;
    width: 100%;
    background-repeat: no-repeat;
    max-width: 100%;
    // z-index: -1;
  }